<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>lifeinthe40s</title>

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat|Quattrocento" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/libs/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/libs/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/widgets.css">

</head>
<body>

<!-- Wrapper Site -->

<div id="wrapper">

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader_6">
            <div class="loader-content">
                <div class="loader-circle"></div>
                <div class="loader-line-mask">
                    <div class="loader-line"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->

    <div class="kd-container">
        <div class="kd-row">

            <!-- Header -->
            <header class="header">

                <div class="wrap-header-responsive">
                    <div class="header-responsive">
                        <div class="kd-container">
                            <div class="kd-row">
                                <div class="menu-mobile">
                                    <span class="item item-1"></span>
                                    <span class="item item-2"></span>
                                    <span class="item item-3"></span>
                                </div>
                                <div class="header-share">
                                    <i class="fa fa-share-alt"></i>
                                </div>
                                <div class="header-search">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Header Top-->
                <div class="header-fixed clearfix">
                
                <nav class="menu-top">
                    <ul class="menu menu-top-list">
                        <% if ( articles) { %>
                        <li class="menu-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">About</a>
                        </li>
                        <li class="menu-item">
                            <a href="/users">Log In</a>
                        </li>
                        <% } %>
                        <% if(articles && token) { %>
               
                        <li class="menu-item">
                            <a href="/create">Create</a>
                        </li>
                        <li class="menu-item">
                            <a href="/logout">Logout</a>
                        </li>
         
                    <% } %>
                    </ul>
                </nav>
                
             
          
                    <div class="header-socials">
                        <ul>
                            <li class="social-item">
                                <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                            </li>
                            <li class="social-item">
                                <a href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
                            </li>
                            <li class="social-item">
                                <a href="http://twitter.com/"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-popup header-popup-search">
                    <div class="header-close">
                        x
                    </div>
                    <div class="header-table">
                        <div class="header-tb-cell">
                            <form action="#">
                                <input type="text" placeholder="Press enter to search"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-popup header-popup-social">
                    <div class="header-close">
                        x
                    </div>
                    <div class="header-table">
                        <div class="header-tb-cell">
                            <ul>
                      ]]
                                <li class="social-item">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                                </li>
                                <li class="social-item">
                                    <a href="https://plus.google.com/"><i class="fa fa-google-plus"></i><span>Google Plus</span></a>
                                </li>
                                <li class="social-item">
                                    <a href="http://twitter.com/"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Header Top-->

                <!-- Logo -->
                <div class="logo">
                    <div class="kd-container">
                        <div class="kd-row">
                            <a href="/">
                                <img src="images/logo.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Logo -->

                <!-- Menu -->
                <nav class="menu-top">
                <ul class="menu menu-top-list">
                    <% if ( articles) { %>
                    <li class="menu-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">About</a>
                    </li>
                    <li class="menu-item">
                        <a href="/users">Log In</a>
                    </li>
                    <% } %>
                    <% if(articles && token) { %>
           
                    <li class="menu-item">
                        <a href="/create">Create</a>
                    </li>
                    <li class="menu-item">
                        <a href="/logout">Logout</a>
                    </li>
     
                <% } %>
                </ul>
            </nav>
                <!-- End Menu -->

            </header>
            <!-- End Header -->

            <!-- Featured Slider -->
            <div id="featured-slider" class="featured-slider">
                <div class="item">
                    <div class="image" style="background-image:url(images/featured/1.jpg); ">
                        <img src="images/featured/1.jpg" alt="Featured Slider">
                    </div>
                    <div class="content">
                        <div class="content-box">
                            <div class="post-cat">
                                <ul>
                                    <li>
                                        <a href="#">Travel</a>
                                    </li>
                                    <li>
                                        <a href="#">Lifestyle</a>
                                    </li>
                                </ul>
                            </div>
                            <h2 class="title">
                                <a href="single.html">The secret made women the beauty</a>
                            </h2>
                            <div class="item-entry">
                                <p>
                                    Contrary to popular belief, the secret which makes women beautiful comes from self preservation.
                                </p>
                            </div>
                           <!-- <div class="read-more">
                                <a href="#">Read more</a>
                            </div>-->
                        </div>
                    </div>

                </div>
                <div class="item">
                    <div class="image" style="background-image:url(images/featured/2.jpg); ">
                        <img src="images/featured/2.jpg" alt="Featured Slider">
                    </div>
                    <div class="content">
                        <div class="content-box">
                            <div class="post-cat">
                                <ul>
                                    <li>
                                        <a href="#">Lifestyle</a>
                                    </li>
                                    <li>
                                        <a href="#">Beautiful</a>
                                    </li>
                                </ul>
                            </div>
                            <h2 class="title">
                                <a href="#">LIFE IS CHOICES, AND LET’S CHOOSE JOY</a>
                            </h2>
                            <div class="item-entry">
                                <p>
                                    Contrary to popular belief, life is based on individual choices we make.
                                </p>
                            </div>
                          <!--  <div class="read-more">
                                <a href="#">Read more</a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image:url(images/featured/3.jpg); ">
                        <img src="images/featured/3.jpg" alt="Featured Slider">
                    </div>
                    <div class="content">
                        <div class="content-box">
                            <div class="post-cat">
                                <ul>
                                    <li>
                                        <a href="#">Travel</a>
                                    </li>
                                    <li>
                                        <a href="#">Beautiful</a>
                                    </li>
                                </ul>
                            </div>
                            <h2 class="title">
                                <a href="#">LET’S DEPEND UPON ONE’S OWN EFFORTS</a>
                            </h2>
                            <div class="item-entry">
                                <p>
                                    Contrary to popular belief, in as much as you may be assistated ultimately its all within your efforts.
                                </p>
                            </div>
                          <!--  <div class="read-more">
                                <a href="#">Read more</a>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image:url(images/featured/4.jpg); ">
                        <img src="images/featured/4.jpg" alt="Featured Slider">
                    </div>
                    <div class="content">
                        <div class="content-box">

                            <div class="post-cat">
                                <ul>
                                    <li>
                                        <a href="#">Travel</a>
                                    </li>
                                    <li>
                                        <a href="#">Beautiful</a>
                                    </li>
                                </ul>
                            </div>
                            <h2 class="title">
                                <a href="single.html">THE SECRET MADE WOMEN THE BEAUTY</a>
                            </h2>
                            <div class="item-entry">
                                <p>
                                    Contrary to popular belief, the secret which makes women beautiful comes from self preservation.
                                </p>
                            </div>
                            <!--<div class="read-more">
                                <a href="#">Read more</a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Featured Slider -->

            <!-- Featured Box -->
            <div id="featured-box" class="featured-box">
                <div class="featured-box-item">
                    <div class="image" style="background-image: url(images/featured-box/featured-box-1.jpg)">
                        <a href="#">
                            <img src="images/featured-box/featured-box-1.jpg" alt="Lifestyle">
                            <div class="box-border-line">
                                <div class="box-line box-line-top"></div>
                                <div class="box-line box-line-right"></div>
                                <div class="box-line box-line-bottom"></div>
                                <div class="box-line box-line-left"></div>
                            </div>
                        </a>
                        <h2 class="title">Lifestyle</h2>
                    </div>
                </div>
                <div class="featured-box-item">
                    <div class="image" style="background-image: url(images/featured-box/featured-box-2.jpg)">
                        <a href="#">
                            <img src="images/featured-box/featured-box-2.jpg" alt="Discover">
                            <div class="box-border-line">
                                <div class="box-line box-line-top"></div>
                                <div class="box-line box-line-right"></div>
                                <div class="box-line box-line-bottom"></div>
                                <div class="box-line box-line-left"></div>
                            </div>
                        </a>
                        <h2 class="title">Discover</h2>
                    </div>
                </div>
                <div class="featured-box-item">
                    <div class="image" style="background-image: url(images/featured-box/featured-box-3.jpg)">
                        <a href="#">
                            <img src="images/featured-box/featured-box-1.jpg" alt="Contact">
                            <div class="box-border-line">
                                <div class="box-line box-line-top"></div>
                                <div class="box-line box-line-right"></div>
                                <div class="box-line box-line-bottom"></div>
                                <div class="box-line box-line-left"></div>
                            </div>
                        </a>
                        <h2 class="title">Contact</h2>
                    </div>
                </div>
            </div>
            <!-- End Featured Box -->

            <!-- Posts -->
            <div class="wrapper-content clearfix" data-sidebar="right">

                <div class="wrapper-posts">
                    <div class="blog-posts grid-layout clearfix">
                        <% articles.forEach(function(article){ %>
                        <div class="post post-grid">
                            <div class="post-media">
                                <a href="#">
                                    <img src="<%= article.imgUrl %>" alt="Post">
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-cat">
                                    <ul>
                                        <li>
                                            <a href="#">Travel</a>
                                        </li>
                                        <li>
                                            <a href="#">Lifestyle</a>
                                        </li>
                                    </ul>
                                </div>
                                <h2 class="title">
                                    <a href="#"><%= article.title %></a>
                                </h2>
                                <div class="post-detail">
                                    <a href="#" class="date"><%= article.createdAt %></a>
                                    <a href="#" class="comment-count"></a>
                                </div>

                                <div class="the-excerpt">
                                    <%= article.header_content %>
                                </div>

                                <div class="post-footer clearfix">
                                    <div class="wrap-read-more">
                                        <div class="read-more">
                                            <a href="/articles/<%= article.id %>">Continue Reading</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <% }); %>
                      

                    </div>
                    <div class="pagination-wrap">
                        <ul class="pagination clearfix">
                            <li>
                                <span class="page-numbers current">1</span>
                            </li>
                            <li>
                                <a class="page-numbers" href="#">2</a>
                            </li>
                            <li>
                                <a class="page-numbers" href="#">3</a>
                            </li>
                            <li>
                                <span class="page-numbers dots">…</span>
                            </li>
                            <li>
                                <a class="page-numbers" href="#">6</a>
                            </li>
                            <li>
                                <a class="next page-numbers" href="#"><i class="fa fa-angle-double-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- SideBars-->
                <div class="sidebar">

                    <!-- Widget About -->
                    <div class="widget ntp-about">
                        <h2 class="widget-title">
                            About me
                        </h2>
                        <div class="widget-content">
                            <img src="images/widgets/about-me.jpg" alt="">

                            <h2 class="title">
                                <a href="#">Maud Matanga</a>
                            </h2>
                            <p class="ntp-description">
                                I am middle aged wife and mother of 5 who is devoted to God, Husband and Family. I have had my fair share of experience in life and this platform serves to allow people to share their experinces in life. 
                            </p>

                            <!--<div class="ntp-button">
                                <a href="#">Read Me</a>
                            </div>-->
                        </div>
                    </div>
                    <!-- End Widget About -->

                    <!-- Follow Me -->
                    <div class="widget ntp-follow"><h2 class="widget-title">Follow</h2>
                        <div class="ntp-description">
                            <p>Various versions have evolved over the years, sometimes. Various versions have evolved over</p>
                        </div>
                        <div class="widget-follow-content ntp-social-square">
                
                            <a href="#" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" title="Google Plus">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" title="Linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                    <!-- End Follow Me -->

                    <!-- Latest Posts -->
                    <!--<div class="widget ntp-latest-posts">
                        <h2 class="widget-title">Latest Posts</h2>
                        <div class="widget-list">
                            <div class="item clearfix">
                                <a href="#">
                                    <div class="item-image" style="background-image: url('images/widgets/posts/1.jpg')">
                                        <img src="images/widgets/posts/1.jpg" alt="I have a happy and peaceful fife there">
                                    </div>
                                </a>
                                <div class="widget-item-content">
                                    <h3 class="item-title">
                                        <a href="#">I have a happy and peaceful fife there</a>
                                    </h3>
                                    <a href="#" class="item-meta"><span>October 9, 2016</span></a>
                                    <a href="#" class="item-comment">3 Comments</a>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <a href="#">
                                    <div class="item-image" style="background-image: url('images/widgets/posts/2.jpg')">
                                        <img src="images/widgets/posts/2.jpg" alt="Their happiness comes before anything else">
                                    </div>
                                </a>
                                <div class="widget-item-content">
                                    <h3 class="item-title">
                                        <a href="#">Their happiness comes before anything else</a>
                                    </h3>
                                    <a href="#" class="item-meta"><span>October 9, 2016</span></a>
                                    <a href="#" class="item-comment">3 Comments</a>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <a href="#">
                                    <div class="item-image" style="background-image: url('images/widgets/posts/3.jpg')">
                                        <img src="images/widgets/posts/3.jpg" alt="The basis of friendship is sharing">
                                    </div>
                                </a>
                                <div class="widget-item-content">
                                    <h3 class="item-title">
                                        <a href="#">The basis of friendship is sharing</a>
                                    </h3>
                                    <a href="#" class="item-meta"><span>October 9, 2016</span></a>
                                    <a href="#" class="item-comment">3 Comments</a>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <a href="#">
                                    <div class="item-image" style="background-image: url('images/widgets/posts/16.jpg')">
                                        <img src="images/widgets/posts/16.jpg" alt="The sooner you try the sooner you can succeed">
                                    </div>
                                </a>
                                <div class="widget-item-content">
                                    <h3 class="item-title">
                                        <a href="#">The sooner you try the sooner you can succeed</a>
                                    </h3>
                                    <a href="#" class="item-meta"><span>October 9, 2016</span></a>
                                    <a href="#" class="item-comment">3 Comments</a>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- End Latest Posts -->

                    <!-- Popular Posts -->
                    <!--<div class="widget ntp-popular-post">
                        <h2 class="widget-title">Popular Posts</h2>
                        <div class="widget-list">
                            <div class="item clearfix">
                                <a href="#">
                                    <div class="item-image" style="background-image: url('images/widgets/posts/6.jpg')">
                                        <img src="images/widgets/posts/6.jpg" alt="A high risk investment may bring you big profit">
                                    </div>
                                </a>
                                <div class="widget-item-content">
                                    <h3 class="item-title">
                                        <a href="#">A high risk investment may bring you big profit</a>
                                    </h3>
                                    <a href="#" class="item-meta"><span>October 9, 2016</span></a>
                                    <a href="#" class="item-comment">3 Comments</a>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <a href="#">
                                    <div class="item-image" style="background-image: url('images/widgets/posts/11.jpg')">
                                        <img src="images/widgets/posts/11.jpg" alt="Introducing Your Newest Model home for the Fashion">
                                    </div>
                                </a>
                                <div class="widget-item-content">
                                    <h3 class="item-title">
                                        <a href="#">Introducing Your Newest Model home for the Fashion</a>
                                    </h3>
                                    <a href="#" class="item-meta"><span>October 9, 2016</span></a>
                                    <a href="#" class="item-comment">3 Comments</a>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <a href="#">
                                    <div class="item-image" style="background-image: url('images/widgets/posts/14.jpg')">
                                        <img src="images/widgets/posts/14.jpg" alt="Enjoy the fruits of your labour">
                                    </div>
                                </a>
                                <div class="widget-item-content">
                                    <h3 class="item-title">
                                        <a href="#">Enjoy the fruits of your labour</a>
                                    </h3>
                                    <a href="#" class="item-meta"><span>October 9, 2016</span></a>
                                    <a href="#" class="item-comment">3 Comments</a>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <a href="#">
                                    <div class="item-image" style="background-image: url('images/widgets/posts/4.jpg')">
                                        <img src="images/widgets/posts/4.jpg" alt="The sooner you try the sooner you can succeed">
                                    </div>
                                </a>
                                <div class="widget-item-content">
                                    <h3 class="item-title">
                                        <a href="#">The sooner you try the sooner you can succeed</a>
                                    </h3>
                                    <a href="#" class="item-meta"><span>October 9, 2016</span></a>
                                    <a href="#" class="item-comment">3 Comments</a>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- End Popular Posts -->

                    <!-- Banner -->
                    <div class="widget ntp-banner">
                        <h2 class="widget-title">Banner</h2>
                        <div class="widget-banner-content">
                            <img src="images/advertise.png" alt="Banner">
                        </div>
                    </div>
                    <!-- End Banner -->



                    <!-- Contact -->
                    <div class="widget ntp-contact">
                        <h2 class="widget-title ">Contact Me</h2>
                        <div class="widget-contact-content">
                            <div class="ntp-description">
                                <p>
                                    Amet augue rutrum gravida tellus nostra integer netus, feugiat sociis. Euismod nunc lacus ante commodo tortor montes eu duis orci tempor iaculis sociosqu.
                                </p>
                            </div>
                            <div class="item-icon-left ntp-description">
                                <i class="fa fa-map-marker"></i>
                                <span>
                                    108 Nusery Road                    </span>
                            </div>
                            <div class="item-icon-left ntp-description">
                                <i class="fa fa-envelope"></i>
                                <span>
                                   <a href="mailto:maud@lifeinthe40s.com">maud@lifeinthe40s.com</a>
                                </span>
                            </div>
                            <div class="item-icon-left ntp-description">
                                <i class="fa fa-phone"></i>
                                <span>+263 773 098 474</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Contact -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Wrapper Site -->

<!-- Footer -->
<footer class="footer">

    <div class="footer-instagram">
        <ul class="instagram-pics clearfix">
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/1.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/2.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/3.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/4.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/5.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/6.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/7.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/8.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/9.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/10.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/11.jpg" alt="Flickr Feed"/>
                </a>
            </li>
        </ul>
    </div>

    <div class="kd-container">
        <div class="kd-row">
            <div class="logo-footer">
                <a href="/">
                    <img src="images/logo-footer.png" alt="Logo Footer">
                </a>
            </div>

            <nav class="menu-bottom">
                <ul class="menu menu-top-list">
                    <li class="menu-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">About</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>

            <div class="header-socials">
                <ul>
                  
                    <li class="social-item">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="social-item">
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                
                    <li class="social-item">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </div>

            <div class="copyright">
                <p>All right reserved, developed by <a href="https://developerprince.herokuapp.com">Developer Prince</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<script type="text/javascript" src="javascripts/js/libs/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="javascripts/js/libs/owl.carousel.js"></script>
<script type="text/javascript" src="javascripts/js/libs/masonry.min.js"></script>
<script type="text/javascript" src="javascripts/js/scripts.js"></script>

</body>
</html>
