<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>lifeinthe40s</title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat|Quattrocento" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.ckeditor.com/ckeditor5/11.2.0/classic/ckeditor.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/css/libs/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/css/libs/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/css/widgets.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/article/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>

<!-- Wrapper Site -->

<div id="wrapper">

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader_6">
            <div class="loader-content">
                <div class="loader-circle"></div>
                <div class="loader-line-mask">
                    <div class="loader-line"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->

    <div class="kd-container">
        <div class="kd-row">

                        <!-- Header -->
                        <header class="header">

                                <div class="wrap-header-responsive">
                                    <div class="header-responsive">
                                        <div class="kd-container">
                                            <div class="kd-row">
                                                <div class="menu-mobile">
                                                    <span class="item item-1"></span>
                                                    <span class="item item-2"></span>
                                                    <span class="item item-3"></span>
                                                </div>
                                                <div class="header-share">
                                                    <i class="fa fa-share-alt"></i>
                                                </div>
                                                <div class="header-search">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Header Top-->
                                <div class="header-fixed clearfix">
                                    <nav class="menu-top">
                                        <ul class="menu menu-top-list">
                                            <li class="menu-item">
                                                <a href="/">Home</a>
                                            </li>
                                         
                                            <li class="menu-item">
                                                <a href="/about">About</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="/contatcs">Contact</a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <div class="header-socials">
                                        <ul>
                                            <li class="social-item">
                                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                                            </li>
                                            <li class="social-item">
                                                <a href="https://www.pinterest.com/"><i class="fab fa-pinterest"></i><span>Pinterest</span></a>
                                            </li>
                                            <li class="social-item">
                                                <a href="http://twitter.com/"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="header-popup header-popup-search">
                                    <div class="header-close">
                                        x
                                    </div>
                                    <div class="header-table">
                                        <div class="header-tb-cell">
                                            <form action="#">
                                                <input type="text" placeholder="Press enter to search"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-popup header-popup-social">
                                    <div class="header-close">
                                        x
                                    </div>
                                    <div class="header-table">
                                        <div class="header-tb-cell">
                                            <ul>
                                                <li class="social-item">
                                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                                                </li>
                                                <li class="social-item">
                                                    <a href="https://plus.google.com/"><i class="fa fa-google-plus"></i><span>Google Plus</span></a>
                                                </li>
                                                <li class="social-item">
                                                    <a href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Header Top-->
                
                                <!-- Logo -->
                                <div class="logo">
                                    <div class="kd-container">
                                        <div class="kd-row">
                                            <a href="/">
                                                <img src="../images/logo.png" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Logo -->
                
                            </header>
                            <!-- End Header -->
                            <% articles.forEach(function(article){ %>
                            <% if(article.id == id ) { %>
                            <div class="progress-container"><div id="progress-bar"></div></div>
                            <div class="container">
                            <div class="article">
                              <span class="title"><%= article.name %></span><br />
                              <span class="info"><strong>Maud Matanga</strong> - <%= article.createdAt %></span>
                              <%- article.content %>
                            </div>
                            <a  data-toggle="modal" data-target="#exampleModalCenter">
                                <i class="far fa-comment"></i>
                            </a>
                            <a data-toggle="modal" data-target="#editArticle">
                                <i class="far fa-edit"></i>
                            </a>
                            <a href="#">
                                <i class="far fa-thumbs-up"></i>
                            </a>
                            <a href="#">
                            <i class="far fa-thumbs-down"></i>
                            </a>
                            <form method="DELETE" action="/articles/delete/?id=<%=article.id %>">
                                <button type="submit">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                            <div class="modal fade" id="editArticle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog " role="document">
                            <div class="modal-content">
                                <!-- Update Articles -->
                                <div class="row justify-content-center mt-3">
                                    <div  class="container-fluid">
                                    <h1 class="header-1 justify-content-center">Update Article</h1>
                                        <form method="POST" action="/articles/update/<%=article.id %>" id="updateArticle">
                                            <div class="form-group">
                                            <label for="useremail">Article Title</label>
                                            <input type="text" class="form-control auth-input" name="article_title" placeholder="<%= article.name %>">
                                            </div>
                                            <div class="form-group">
                                            <label for="userpassword">Header Content</label>
                                            <input type="text" class="form-control auth-input" name="header_content" placeholder="<%= article.header_content %>">
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01">Image Options</label>
                                                    </div>
                                                    <select name="imgurl" form="createArticle">
                                                        <option selected><%= article.imgUrl %></option>
                                                        <option value="images/posts/1.jpg">One</option>
                                                        <option value="images/posts/2.jpg">Two</option>
                                                        <option value="images/posts/3.jpg">Three</option>
                                                        <option value="images/posts/4.jpg">Four</option>
                                                        <option value="images/posts/5.jpg">Five</option>
                                                        <option value="images/posts/6.jpg">Six</option>
                                                        <option value="images/posts/7.jpg">Seven</option>
                                                        <option value="images/posts/8.jpg">Eight</option>
                                                        <option value="images/posts/9.jpg">Nine</option>
                                                        <option value="images/posts/10.jpg">Ten</option>  
                                                        <option value="images/posts/11.jpg">Eleven</option>  
                                                        <option value="images/posts/12.jpg">Twelve</option>    
                                                        <option value="images/posts/13.jpg">Thirten</option>  
                                                        <option value="images/posts/14.jpg">Fourteen</option>                                  
                                                    </select>
                                                </div>
                                            </div>
                                            <label for="content">Content</label>
                                            <textarea name="article_content" id="editor"><%- article.content %></textarea>
                                            <br>
                                            <div class="auth-item form-submit">
                                                <button type="submit" class="btn btn-primary auth-btn btn-lg mb-3">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!--END Update Articles-->
                                </div>
                                </div>
                                </div>
                                <!-- END MODAL -->
                                <!-- MODAL-->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Comment</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <form method="POST" action="/articles/comment" id="createComment">
                                            <div class="modal-body">
                                            <div class="form-group">
                                            <textarea name="article_content" id="editor" name="comment"></textarea>
                                            </div>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-none">Save Comment</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- END MODAL -->
                                <!--<div class="comments">
                              <div class="comment">
                                    <div class="com-com"></div>
                              </div>
                              </div>
                            </div>-->
                            </div>
                            <% }; %>
                            <% }); %>
                          
        </div>
    </div>
</div>
<!-- End Wrapper Site -->

<!-- Footer -->
<footer class="footer">

    <div class="kd-container">
        <div class="kd-row">
            <div class="logo-footer">
                <a href="/">
                    <img src="../images/logo-footer.png" alt="Logo Footer">
                </a>
            </div>

            <nav class="menu-bottom">
                <ul class="menu menu-top-list">
                    <li class="menu-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="menu-item">
                        <a href="/destination">Trips</a>
                    </li>
                    <li class="menu-item">
                        <a href="/about">About</a>
                    </li>
                    <li class="menu-item">
                        <a href="/contatcs">Contact</a>
                    </li>
                    <li class="menu-item">
                        <a href="/articles/create">Create</a>
                    </li>
                    <li class="menu-item">
                        <a href="/articles/edit">Edit</a>
                    </li>
                </ul>
            </nav>

            <div class="header-socials">
                <ul>
                    <li class="social-item">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="social-item">
                        <a href="#"><i class="fab fa-google-plus"></i></a>
                    </li>
                    <li class="social-item">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                </ul>
            </div>

            <div class="copyright">
                <p>All right reserved, developed by <a href="https://developerprince.herokuapp.com">Developer Prince</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>

<script type="text/javascript" src="../javascripts/js/libs/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../javascripts/js/libs/owl.carousel.js"></script>
<script type="text/javascript" src="../javascripts/js/libs/masonry.min.js"></script>
<script type="text/javascript" src="../javascripts/js/scripts.js"></script>
<script type="text/javascript" src="../javascripts/article/index.js"></script>
</body>

</html>
